---
layout: default
title: Günce
excerpt: Günlük Blog Yazıları
---

  <h1> <i class="fab fa-blogger-b fa-1x"></i>  Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}" style="text-decoration: none; color:#1A237E; cursor:pointer" >{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2><i class="fas fa-highlighter"></i> &nbsp;  Highlighted Media</h2>
  <ul class="posts">
    <li><span>22 Agu 2013</span> &raquo; <a  target="_blank" href="https://youtu.be/qrCTGon24lg" style="text-decoration: none; color:#880E4F; cursor:pointer">Music Video: Heidis Küken - Das kleine Küken piept</a></li>
  </ul>

  <h2><i class="fas fa-tasks"></i> &nbsp;  Other Interviews, Talks, Etc</h2>
  <ul class="posts">
    <li><span>12 Tem 2015</span> &raquo; <a  target="_blank" href="https://www.youtube.com/watch?v=4SY_bScQexQ" style="text-decoration: none; color:#880E4F; cursor:pointer">Video: TeknoSeyir - Pisi Linux incelemesi</a></li>
    <li><span>10 Tem 2015</span> &raquo; <a  target="_blank" href="https://www.youtube.com/watch?v=SFqcrFIzvuM" style="text-decoration: none; color:#880E4F; cursor:pointer">Video: ShiftDelete.net - Yerli İşletim Sistemi Pisi Linux İncelemesi</a></li>
    <li><span>12 Sep 2013</span> &raquo; <a  target="_blank" href="http://www.haberbus.com" style="text-decoration: none; color:#880E4F; cursor:pointer">Site: Haberbüs - Haberlerin toplandığı bir ortam</a></li>
  </ul>

  <h2><i class="fab fa-osi"></i> &nbsp;  Noteworthy Open Source Projects and Specifications</h2>
  <ul class="posts">
    <li><a target="_blank" href="https://github.com/jekyll/jekyll/" style="text-decoration: none; color:#607D8B; cursor:pointer">Jekyll:</a> A simple, blog aware, static site generator (used for this site).</li>
    <li><a target="_blank" href="https://github.com/vhf/free-programming-books/blob/master/free-programming-books-tr.md" style="text-decoration: none; color:#607D8B; cursor:pointer">Free Programming Books:</a> Freely available programming books lists (on github).</li>
    <li><a target="_blank" href="https://github.com/linuxtraining/lt" style="text-decoration: none; color:#607D8B; cursor:pointer">Linux Training:</a> The Linux Training Book.</li>
    <li><a target="_blank" href="https://github.github.com/gfm/" style="text-decoration: none; color:#607D8B; cursor:pointer">Learn Markdown:</a> GitHub Flavored Markdown Spec</li>
    <li><a target="_blank" href="https://code.sololearn.com/#c" style="text-decoration: none; color:#607D8B; cursor:pointer">Playground:</a> C code playground.</li>
    <li><a target="_blank" href="https://www.quackit.com/bootstrap/bootstrap_4/tutorial/" style="text-decoration: none; color:#607D8B; cursor:pointer">bootstrap:</a> Bootstrap 4 Tutorial.</li>
  </ul>

{% if page.comments != false %}
<a href="{{ post.url }}index.html#disqus_thread" data-disqus-identifier="{{post.url}}" style="text-decoration: none; color:#003c8f; cursor:pointer"></a>
{% endif %}
{% include archive.html %}
<br>
{% if page.title == 'Günce' %} 
<form action="{{ site.baseurl }}/search/" method="get">
	<input type="search" name="q" placeholder="Ne bilmek istiyorsun?" data-search-input id="goog-wm-qt" ><input type="submit" value="Ara" id="goog-wm-sb" />
</form>
<div align="right">

<a href="{{ site.baseurl }}/humans.txt"><img src="{{ site.baseurl }}/images/humanstxt-isolated-blank.gif" alt="Humans.txt" width="88" height="31"></a></div>
{% endif %}


