
<style>
span {
    color:blue;
    cursor:pointer;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<div> 
<p>
<span onclick="show('Page1');"><a  class="waves-effect waves-light btn">1</a></span> 
<span onclick="show('Page2');"><a  class="waves-effect waves-light btn">2</a></span> 
<span onclick="show('Page3');"><a  class="waves-effect waves-light btn">3</a></span> 
<span onclick="show('Page4');"><a  class="waves-effect waves-light btn">4</a></span> 
<span onclick="show('Page5');"><a  class="waves-effect waves-light btn">5</a></span> 
<span onclick="show('Page6');"><a  class="waves-effect waves-light btn">6</a></span> 
<span onclick="show('Page7');"><a  class="waves-effect waves-light btn">7</a></span> 
<span onclick="show('Page8');"><a  class="waves-effect waves-light btn">8</a></span> 
<span onclick="show('Page9');"><a  class="waves-effect waves-light btn">9</a></span> 
<span onclick="show('Page10');"><a  class="waves-effect waves-light btn">10</a></span> 
<span onclick="show('Page11');"><a  class="waves-effect waves-light btn">11</a></span> 
<span onclick="show('Page12');"><a  class="waves-effect waves-light btn">LIST ONE</a></span>
<span onclick="show('Page13');"><a  class="waves-effect waves-light btn">WORDS</a></span>  
<span onclick="show('PageList');"><a  class="waves-effect waves-light btn">LIST</a></span> 
<span onclick="show('PageSpeech');"><a  class="waves-effect waves-light btn">Speech</a></span>
</p>
</div>
<div class="teaser clearfix"></div>
<div id="Page1" class="page" style="display:none">
	{% include content_page/content_page1.html %}
</div>
 
<div class="teaser clearfix"></div>
<div id="Page2" class="page" style="display:none">
    	{% include content_page/content_page2.html %}
</div>
 
<div class="teaser clearfix"></div>
<div id="Page3" class="page" style="display:none">
    	{% include content_page/content_page3.html %}
</div>
 
<div class="teaser clearfix"></div>
<div id="Page4" class="page" style="display:none">
    	{% include content_page/content_page4.html %}
</div>
 
<div class="teaser clearfix"></div>
<div id="Page5" class="page" style="display:none">
    	{% include content_page/content_page5.html %}
</div>
 
<div class="teaser clearfix"></div>
<div id="Page6" class="page" style="display:none">
    	{% include content_page/content_page6.html %}
</div>
 
<div class="teaser clearfix"></div>
<div id="Page7" class="page" style="display:none">
    	{% include content_page/content_page7.html %}
</div>
 
<div class="teaser clearfix"></div>
<div id="Page8" class="page" style="display:none">
    	{% include content_page/content_page8.html %}
</div>
 
<div class="teaser clearfix"></div>
<div id="Page9" class="page" style="display:none">
    	{% include content_page/content_page9.html %}
</div>
 
<div class="teaser clearfix"></div>
<div id="Page10" class="page" style="display:none">
    	{% include content_page/content_page10.html %}
</div>
 
<div class="teaser clearfix"></div>
<div id="Page11" class="page" style="display:none">
    	{% include content_page/content_page11.html %}
</div>
 
<div class="teaser clearfix"></div>
<div id="Page12" class="page" style="display:none">
    	{% include content_page/content_page12.html %}
</div>
 
<div class="teaser clearfix"></div>
<div id="Page13" class="page" style="display:none">
    	{% include content_page/content_page13.html %}
</div>
 
<div class="teaser clearfix"></div>
<div id="PageList" class="page" style="display:none">
    	{% include content_page/content_pageList.html %}
</div>

<div class="teaser clearfix"></div>
<div id="PageSpeech" class="page" style="display:none">
    	{% include content_page/text-to-speech.html %}
</div>
