<div id="Page3" class="page" style="display:none">

<pre><code data-language='bash'>pip install django==1.8</code></pre>
<pre><code data-language='bash'>pip install npm</code></pre>
<pre><code data-language='bash'>pip install --upgrade git+https://github.com/mysteryjeans/doorsale.git#egg=Doorsale</code></pre>
<pre><code data-language='bash'>git clone https://github.com/mysteryjeans/doorsale-demo.git</code></pre>
<pre><code data-language='bash'>npm install -g less yuglify</code></pre>
<pre><code data-language='bash'>cd doorsale-demo</code></pre>
<pre><code data-language='bash'>python manage.py runserver</code></pre>
<pre><code data-language='bash'>docker save container_name > /home/$USER/export.tar</code></pre>
<pre><code data-language='bash'>docker load  &bull; /home/$USER/export.tar</code></pre>
</div>

<div id="Page4" class="page" style="display:none">
<a> &bull; &bull; &bull; &bull;</a>
<table class="blueTable">
<thead>
<tr>
<th>Sites</th>
<th>Sources</th>
</tr>
</thead>
<tbody>
<tr>
<td>A Django forum engine for building powerful community driven websites.</td>
<td>https://django-machina.readthedocs.org</td>
</tr>
<tr>
<td>Domain-driven e-commerce for Django</td>
<td>http://oscarcommerce.com</td>
</tr>
<tr>
<td>Template for making a personal website using django.</td>
<td>http://www.melissagymrek.com/publications</td>
</tr>
<tr>
<td>django_todo_app</td>
<td>https://github.com/PrettyPrinted/django_todo_app</td>
</tr>
</tbody>
</table>
<br/>
</div>

